* {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#container {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#menu_lateral {

    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2F2F36;
    color: #4682B4;
    padding: 15px;

}

#logo_menu_lateral {

    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/Logo_LocalizEtec.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #FFFFFF;
    border: 5px solid #4682B4;
    border-radius: 5px;
    margin-bottom: 15px;

}

#botoes_menu_lateral {

    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    background-color: transparent;
    padding: 10px;
    overflow-y: auto;

}

.botao_menu_lateral {

    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 5px solid #4682B4;
    color: #FFFFFF;
    font-size: medium;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding: 35px;

}

#conteudo {

    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;

}

#frame_pagina_externa {

    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 3px solid #2F2F36;
    padding: 15px;

}